<div class="row">
  <div class="col-md-8">
    <h2 class="my-3">Post list</h2>
    <div>
      <button routerLink="/posts/add" class="btn btn-primary my-2">
        Add Post
      </button>
    </div>
    <table class="table table-striped" *ngIf="posts$ | async as postData">
      <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let post of postData">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>
            <button
              class="btn btn-sm btn-primary"
              [routerLink]="['edit', post.id]"
            >
              update</button
            >&nbsp;
            <button class="btn btn-sm btn-danger" (click)="deletePost(post.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
