<br /><br />
<app-view-count></app-view-count>
<br />
<br />
<div class="row" style="background-color: aliceblue">
  <div class="col">
    <button type="button" class="btn btn-danger btn-lg" (click)="increment()">
      Increament
    </button>
  </div>

  <div class="col">
    <button type="button" class="btn btn-warning btn-lg" (click)="decrement()">
      Decreament
    </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-info btn-lg" (click)="reset()">
      Reset
    </button>
  </div>
</div>
<app-custom-counter-input></app-custom-counter-input>
