<div class="row">
  <div class="col-md-6 offset-md-3 my-5">
    <h2>Login</h2>
    <hr />
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
      <div class="mb-3">
        <label>Username:</label>
        <input type="email" class="form-control" formControlName="userName" />
      </div>
      <div class="mb-3">
        <label>Password:</label>
        <input type="text" class="form-control" formControlName="password" />
      </div>
      <div class="mb-3">
        <button class="btn btn-success" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
