<div class="row my-3">
  <div class="col-md-12">
    <h2>Add Post</h2>
    <form [formGroup]="postForm" (ngSubmit)="addPost()">
      <div class="mb-3">
        <label>Title:</label>
        <input type="text" class="form-control" formControlName="title" />
        <div style="color: red">{{ titleShowErrorMessage() }}</div>
      </div>
      <div class="mb-3">
        <label>Description:</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div style="color: red">{{ descriptionShowErrorMessage() }}</div>
      </div>
      <div class="mb-3">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
